.pageNav {
  display: grid;
  justify-items: center;
  color: #fff;
  border-top: 1px solid #6a6a6a;
  border-bottom:  1px solid #6a6a6a;
  margin-top: 1rem;
}
.pageNav ul {
  margin: 1rem 0;
  width: 15rem;
  height: 13rem;
}

.navButton {
  font-size: 15px;
  padding: 10px 10px;
  margin-bottom: 1rem;
  border: 1px;
  cursor: pointer;
  background: none;
  color: #fff;
}


.navButton:hover {
 outline: 1px solid #6a6a6a;
}

.pageList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pageList li {
  margin: 0 5px;
}

.pageList li a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}
