.pageNav {
  display: grid;
  justify-items: center;
}

.navButton {
  font-size: 5px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

.navBtn {

}

.pageList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pageList li {
  margin: 0 5px;
}

.pageList li a {
  text-decoration: none;
  color: #333;
  padding: 8px;
  border-radius: 4px;
}

.pageList li a:hover {
}
