.header {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px solid #676767;
}

.navUl {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navUl li:last-child {
  margin: 0 1rem;
}
