.postBox {
  margin: 2rem 5rem;
}
.postHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.postHeader:first-child {
  margin-left: 0.3rem;
}
.postBtnBox {
  display: flex;
  align-items: center;
}
.postBtnBox button {
  margin-right: 0.8rem;
  font-size: 1rem;
  border: none;
  color: whitesmoke;
  background-color: gray;
}
.postTitle {
  color: white;
  margin: 0;
}

.postText {
  width: auto;
  word-wrap: break-word;
  margin: 2rem 1.5rem;
  color: rgba(153, 153, 153, 0.8);
}
