.loginBox {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.loginForm {
  display: grid;
  align-content: center;
  width: 30rem;
  height: 30rem;
}
.loginErrorBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: red;
  padding: 0.5rem;
}
.loginErrorBox > p {
  color: white;
  font-size: 13px;
}

.loginInputBox {
  width: 30rem;
  margin-bottom: 10px;
}

.loginInputBox > input {
  background: none;
  width: 100%;
  font-size: 1rem;
  border: 1px solid gray;
  padding: 15px;
  color: white;

  outline: none;
  transition: all 150ms;
}
.loginInputBox > input:focus {
  border: 1px solid white;
}

.loginInputBox > button {
  color: white;
  border: none;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: all 200ms;
}

.loginInputBox > button:hover {
  background-color: gray;
}
