.loginBox {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

}

.loginForm {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
  width: 30rem;
  height: 30rem;
  /* border: 1px solid white; */
}

.loginInputBox {
    width: 100%;
    height: 100%;
}

.loginInputBox > input {
  background: none;
  font-size: 2rem;
  border: 1px solid gray;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  transition: all 200ms;
}
.loginInputBox > input:focus {
    border:1px solid blue;
    outline: none;
}


.loginBtnBox {
    width: 100%;
}

.loginBtnBox > button {
    
    color: white;
    border: none;
    background-color: black;
    width: 100%;
    padding: 1rem;
    transition: all 200ms;
}

.loginBtnBox > button:hover {
    background-color: blue;
}